/node_modules
/public/hot
/public/storage
/public/css
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_STORE

# laradock
/vms/.idea
/vms/logs
/vms/data
/vms/.env
/vms/.project
/vms/.docker-sync
