/node_modules
/public/hot
/public/storage
/public/css
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_STORE

# laradock
/yrsmxdock/.idea
/yrsmxdock/logs
/yrsmxdock/data
/yrsmxdock/.env
/yrsmxdock/.project
/yrsmxdock/.docker-sync
