@charset "UTF-8";

@import "./resources/sass/bootstrap-variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/normalize";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/breadcrumb";
@import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/utilities/background";
@import "./node_modules/bootstrap/scss/utilities/clearfix";
@import "./node_modules/bootstrap/scss/utilities/display";
@import "./node_modules/bootstrap/scss/utilities/float";
@import "./node_modules/bootstrap/scss/utilities/screenreaders";
@import "./node_modules/bootstrap/scss/utilities/text";
@import "./node_modules/bootstrap/scss/utilities/visibility";

@import "bourbon";

// EBM variables
@import "./resources/sass/ebm-variables";
@import "./node_modules/ebm/functions/ebm-functions";
@import "./node_modules/ebm/helpers/ebm-helpers";
@import "./resources/sass/ebm-fonts-setup";
@import "./resources/sass/ebm-fonts";
@import "./resources/sass/ebm-bootstrap-overrides";
@import "./node_modules/ebm/control/ebm-text-responsive-control";
@import "./node_modules/ebm/elements/ebm-grid-lists";
@import "./node_modules/ebm/elements/ebm-icons";
@import "./resources/sass/ebm-overrides";
@import "./resources/sass/ebm-global";
@import "./node_modules/ebm/modules/ebm-header";

@import "./resources/sass/common/header";
@import "./resources/sass/common/top-menu";
@import "./resources/sass/common/search-wrapper";
@import "./resources/sass/common/user-resources-nav";
@import "./resources/sass/common/dropzone";

$products-filter-width: 280px;
.products-wrapper {
  margin: $container-fluid 0;
  position: relative;
  min-height: 100vh;
  .products-filters {
    @include position(absolute, 0 null 0 0);
    padding: get-spacer(3, x);
    background-color: white;
    width: $products-filter-width;
  }
  .products-list {
    padding-left: $products-filter-width + 14px;
  }
}

$product-item-height: 81px;
.products-list {
  .product-item {
    @include normalize-text;
    > div {
      @include box-shadow-default;
      @include flex-row;
      border-radius: $border-radius;
      background-color: white;
    }
    .img-wrapper {
      @include bg-img-block;
      border-radius: $border-radius;
      height: $product-item-height;
      position: relative;
      overflow: hidden;
      width: 15%;
      img {
        border-radius: $border-radius;
        height: auto;
        width: 100%;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .features {
      padding: get-spacer(3, x);
      width: 85%;
    }
    .title {
      font-size: $font-size-h5;
      color: $gray-dark;
      display: block;
    }
    .categories-nav {
      margin-bottom: get-spacer(2, y);
      a {
        font-size: $font-size-sm;
      }
    }
    .assigned-to {
      margin-bottom: get-spacer(2, y);
      color: $gray-light;
      display: block;
    }
    &:hover {
      .title {
        text-decoration: underline;
      }
    }
  }
}

$modal-header-height: $header-height-control;
#upload-products-modal {
  @include position(fixed, 0 0 0 0);
  background-color: rgba(black, 0.7);
  padding: get-spacer(5, x);
  z-index: 100;
  display: none;
  > div {
    border-radius: $border-radius;
    background-color: white;
  }
  .modal-header,
  .modal-footer {}
  .modal-header {
    @include flex-row-space-between;
    @include normalize-text;
    border-bottom: 1px solid $gray-lightest;
    > div {
      @include flex-column-center;
      min-height: $modal-header-height;
      padding: get-spacer(3, y);
    }
    > div {}
    nav {}
  }
  .modal-body {
    min-height: 20vh;
  }
  .modal-footer {
    border-top: 1px solid $gray-lightest;
  }
  .products-list {
    padding: $container-fluid;
    .img-wrapper {
      height: 195px;
      width: 100%;
      margin: 0;
    }
    input {
      visibility: hidden;
      position: absolute;
      &:checked + {
        label {
          padding: get-spacer(2, x);
          background-color: $blue;
        }
      }
    }
  }
}
