.cart-products-list {
  border-radius: $border-radius;
  background-color: white;
  .product {
    @include flex-row;
    border-bottom: 1px solid $gray-lightest;
  }
  .img-wrapper,
  .info,
  .actions {
    @include flex-column-center;
    padding: get-spacer(3, y);
    position: relative;
    min-height: 120px;
    > div {
      position: relative;
    }
  }
  .img-wrapper {
    width: 20%;
    > div {
      @include bg-img-block;
      @include position(absolute, 0 0 0 0);
      margin-right: get-spacer(3, y);
      margin-left: get-spacer(3, y);
      background-size: contain;
      height: 100%;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .info {
    width: 40%;
  }
  .actions {
    > div {
      @include flex-row-end;
    }
    width: 40%;
    .amount-wrapper,
    .remove-item {
      padding: 0 get-spacer(2, x);
    }
    .amount-wrapper {
      width: 75%;
    }
    .remove-item {
      position: relative;
      width: 25%;
      .btn-remove-item {
        background-color: transparent;
        border: none;
      }
      &:hover {
        cursor: pointer;
        .btn-remove-item {
          i {
            color: $brand-danger;
          }
        }
      }
      i {
        font-size: $font-size-h3;
      }
    }
  }
}