@charset "UTF-8";

@import "./resources/sass/bootstrap-variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/normalize";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/breadcrumb";
@import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/utilities/background";
@import "./node_modules/bootstrap/scss/utilities/clearfix";
@import "./node_modules/bootstrap/scss/utilities/display";
@import "./node_modules/bootstrap/scss/utilities/float";
@import "./node_modules/bootstrap/scss/utilities/screenreaders";
@import "./node_modules/bootstrap/scss/utilities/text";
@import "./node_modules/bootstrap/scss/utilities/visibility";

@import "bourbon";

// EBM variables
@import "./resources/sass/ebm-variables";
@import "./node_modules/ebm/functions/ebm-functions";
@import "./node_modules/ebm/helpers/ebm-helpers";
@import "./resources/sass/ebm-fonts-setup";
@import "./resources/sass/ebm-fonts";
@import "./resources/sass/ebm-bootstrap-overrides";
@import "./node_modules/ebm/control/ebm-text-control";
@import "./node_modules/ebm/control/ebm-text-responsive-control";
@import "./node_modules/ebm/elements/ebm-grid-lists";
@import "./node_modules/ebm/elements/ebm-icons";
@import "./resources/sass/ebm-overrides";
@import "./resources/sass/ebm-global";
@import "./node_modules/ebm/modules/ebm-header";

@import "./resources/sass/common/header";
@import "./resources/sass/common/top-menu";
@import "./resources/sass/common/search-wrapper";
@import "./resources/sass/common/user-resources-nav";
@import "./resources/sass/common/create-outfit-modal";
@import "./resources/sass/common/products-list";

.user-details-list {
  @include list-unstyled;
  margin-bottom: get-spacer(3, y);
  li {
    @include flex-row;
    margin-bottom: get-spacer(2, y);
    strong {
      width: 35%;
    }
    span {
      width: 65%;
    }
  }
}

$products-filter-width: 280px;
.products-wrapper {
  background-color: $gray-lightest;
  position: relative;
  min-height: 80vh;
  .products-filters {
    @include position(absolute, 0 null 0 0);
    padding: get-spacer(3, x);
    background-color: white;
    width: $products-filter-width;
  }
  .products-list {
    margin-left: $products-filter-width;
  }
}
